/*
 * those CSS variables are defaults,
 * there are here for documentation porpuse
 */
 :root {
    --color: #aaa;
    --background: #000;
    --size: 1.2;
    /* --glow: 1 */
    --animation: terminal-blink;
}
.command, .directory {
    cursor: pointer;
}


/* For small screens like mobile devices */
@media only screen and (max-width: 600px) {
    body, .cmd, .terminal{
        font-size:30px !important
    }
    
}
  
/* For larger screens like desktops */
@media only screen and (min-width: 601px) {
    body, .cmd, .terminal{
        font-size:12px !important
    }
}
  